.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center;
  padding-top: 40px; /* Add some padding to the top */
}