.footer {
  background-color: #f2f2f2;
  padding: 40px 0;
  font-size: 12px;
  color: #999;
  width: 100%;
}

.links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 60px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column h4 {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.subColumns {
  display: flex;
  gap: 40px;
}

.subColumn a, .column span {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #666;
}

.qrCode {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qrCode img {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}

.copyright {
  text-align: center;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
}