.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo img {
  height: 40px;
}

.navigation a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.navigation a i {
  font-size: 18px;
}