.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align form to the left */
  padding-left: 200px; /* Add some padding to the left */
}